<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¡Felicidades!</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lograste acertar el número correcto
        </p>
        <form>
        	<p>Ingresa tu nombre para registrar tu record</p>
        	<div class="form-group">
        		<input type="text" name="name" placeholder="Ingresa tu nombre">
        	</div>
        	<div class="form-group">
        		<button class="btn btn-primary">Enviar</button>
        	</div>
        </form>
      </div>
    </div>

</div>